@charset "UTF-8";
*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out; /* добавим плавность переходов для всех элементов страницы*/
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

img {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  font-weight: normal;
  letter-spacing: 1px;
}

body {
  font-family: "Open Sans", arial, sans-serif;
  font-size: 14px;
  line-height: 1;
  color: #373737;
  background: #fff;
}

/* добавим очистку потока для всех контейнеров, внутри которых задано обтекание дочерних элементов */
header:after, .container:after, footer:after, .widget-posts-list li:after, #subscribe:after {
  content: "";
  display: table;
  clear: both;
}

@font-face {
  font-family: roboto;
  src: url(/assets/fonts/Roboto/);
}
@-webkit-keyframes move-linear {
  from {
    -webkit-transform: translateX(-5em);
            transform: translateX(-5em);
  }
  to {
    -webkit-transform: translateX(5em);
            transform: translateX(5em);
  }
}
@keyframes move-linear {
  from {
    -webkit-transform: translateX(-5em);
            transform: translateX(-5em);
  }
  to {
    -webkit-transform: translateX(5em);
            transform: translateX(5em);
  }
}
body {
  color: #000;
  font-family: roboto;
}

.container {
  margin: 1px 22px 0px;
  border: 0.5px solid #757575;
}

.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  padding-top: 20px;
}
.header a {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 21.6px;
  letter-spacing: 0.5px;
}
.header a:hover {
  color: #fb4b4d;
}
.header .header__btn {
  padding: 15px 44px;
  background: #fb4b4d;
  color: #fff;
}
.header .header__btn:hover {
  background: #fff;
  border: 0.5px solid #757575;
}

.top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0px;
  border-top: none;
  border-bottom: none;
}
.top .img__logo,
.top .img__mug,
.top .img__hand-sauce {
  width: 100%;
  padding: 20px;
  border: 0.5px solid #757575;
}
.top .img__logo {
  border-left: none;
  border-top: none;
  border-right: none;
}
.top .img__mug {
  border-left: none;
  border-right: none;
}
.top .img__hand-sauce {
  border-right: none;
}
.top .top__txt_right {
  border-left: 0.5px solid #757575;
}
.top .top__image, .top .top__text {
  border: 0.5px solid #757575;
}
.top .top__animation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  -webkit-animation: move-linear 5s linear infinite alternate;
          animation: move-linear 5s linear infinite alternate;
}
.top .top__animation-txt {
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
  white-space: nowrap;
}
.top .top__txt_right {
  font-size: 58px;
  font-family: roboto;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 15px;
}
.top .top__left, .top .top__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
.top .img__hand-sauce {
  height: 100%;
}