@import "reset.scss";
@import "fonts.scss";
@import "variables.scss";

@keyframes move-linear {
  from {
    transform: translateX(-5em);
  }
  to {
    transform: translateX(5em);
  }
}

body {
  color: #000;
  font-family: roboto;
}

.container {
  margin: 1px 22px 0px;
  border: $bord_1;
  overflow: hidden;
}

.header {
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    padding-top: 20px;
  }

  a {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: 21.6px;
    letter-spacing: 0.5px;
  }

  a:hover {
    color: $color_1;
  }

  & &__btn {
    padding: 15px 44px;
    background: $color_1;
    color: #fff;
  }

  & &__btn:hover {
    background: #fff;
    border: $bord_1;
  }
}

.top {
  .container {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    border-top: none;
    border-bottom: none;
  }

  .img__logo,
  .img__mug,
  .img__hand-sauce {
    width: 100%;
    padding: 20px;
    border: $bord_1;
  }

  .img__logo {
    border-left: none;
    border-top: none;
    border-right: none;
  }

  .img__mug {
    border-left: none;
    border-right: none;
  }

  .img__hand-sauce {
    border-right: none;
  }

  .txt_h2 {
    border-left: $bord_1;
  }

  & &__image,
  & &__text {
    border: $bord_1;
  }

  & &__left,
  & &__right {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .img__hand-sauce {
    height: 100%;
  }
}
.animation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  animation: $animation;
}

.animation-txt {
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
  white-space: nowrap;
}

.middle {
  .container {
    margin-top: 0px;
    border-top: none;
    overflow: hidden;
  }

  & &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 30px;
  }

  & &__title-txt {
    font-family: Roboto;
    font-size: $fs_65;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-align: center;
  }

  & &__img-scorpion_right {
    transform: scaleX(-1);
  }

  & &__cards_left,
  & &__cards_center,
  & &__cards_right {
    background-image: url(/assets/images/bg-yellow.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
  }

  & &__cards {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: $bord_1;
    border-left: none;
    border-right: none;
  }

  & &__cards-h4 {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-align: center;
    padding-top: 120px;
  }

  & &__cards-h3 {
    font-family: Roboto;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-align: center;
    margin-top: 15px;
  }

  & &__cards-img_left,
  & &__cards-img_center,
  & &__cards-img_right {
    padding: 23px;
    border-radius: 20px;
    width: 100%;
  }

  & &__cards_center,
  & &__cards_right {
  }

  & &__icon-fire_left,
  & &__icon-fire_right,
  & &__icon-balefire_left,
  & &__icon-balefire_right {
    position: absolute;
  }

  & &__icon-fire_left {
    top: 0px;
    left: 0px;
  }

  & &__icon-balefire_left,
  & &__icon-balefire_right {
    top: 0px;
    left: -25px;
  }

  & &__icon-fire_right {
    top: 0px;
    right: 0px;
  }

  & &__img-bottom {
    padding: 20px;
    width: 100%;
  }

  & &__image {
    border-top: $bord_1;
  }
}

.txt_h2 {
  font-size: $fs_58;
  font-family: roboto;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 15px;
}
.bottom {
  .container {
    margin-top: 0px;
    position: relative;
  }

  & &__up {
    display: flex;
    justify-content: center;
  }

  & &__title {
    display: block;
    border-right: $bord_1;
  }

  & &__title-right {
    background-image: url(/assets/images/bg_bottom.svg);
    background-size: 100%;
    background-repeat: no-repeat;
  }

  & &__p {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-align: center;
    padding-left: 152px;
    padding-right: 152px;
    margin-top: 20px;
    line-height: 24px;
  }

  & &__title-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .animation_border {
    border-top: $bord_1;
    border-bottom: $bord_1;
  }

  & &__down-img {
    width: 100%;
    margin-top: -150px;
  }
}
.footer {
  .container {
    margin: 0px 22px;
    background: #cdfd3b;
    border-top: none;
  }

  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  & &__nav-item {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: center;
    color: #000;
  }
  a:hover {
    color: $color_1;
  }
}
